.product-box {
  .slider-container,
  .icon-placeholder {
    height: 25.375rem;
    cursor: pointer;
  }

  .product-wishlist {
    height: 0;

    button {
      z-index: 5;
      bottom: unset;
      top: 1rem;
    }
  }

  .slider-container {
    position: relative;

    &:hover {
      .slider-controls button {
        opacity: 1;

        &:disabled {
          opacity: 0.8;
        }
      }
    }

    .tns-outer {
      height: 100%;
      .tns-inner {
        height: 100%;

        .list-slider {
          display: none;
          height: 100%;

          &.tns-slider {
            display: block;
            height: 100%;

            .tns-item {
              object-fit: contain;
              top: 50%;
              transform: translate(0px, -50%);
              max-height: 25.375rem;
            }
          }
        }
      }
    }

    .slider-controls {
      button {
        position: absolute;
        z-index: 100005000;
        transform: translate(0, -50%);
        top: 50%;
        background: #fff;
        height: 3rem;
        width: 1.5rem;
        padding: 0;
        border: 1px solid $sw-border-color;
        opacity: 0;
        transition: opacity 200ms ease;

        .icon {
          width: 0.8125rem;
          height: 0.8125rem;
        }

        &.previous {
          left: 0;
          border-radius: 0 $border-radius $border-radius 0;
        }

        &.next {
          right: 0;
          border-radius: $border-radius 0 0 $border-radius;
        }
      }
    }
  }
}
